body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

h5 {
    color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.navbar {
    background-color: #1f1f1f;
    border-bottom: 1px solid #333333;
}

.navbar-brand img {
    height: 50px;
}

.custom-search {
    border-radius: 20px;
    border: 1px solid #444444;
    background-color: #2a2a2a;
    color: #ffffff;
}

.custom-search::placeholder {
    color: #aaaaaa;
}

.dropdown-menu {
    background-color: #2a2a2a;
    border: 1px solid #444444;
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-item:hover {
    background-color: #444444;
}

.btn-sign-in a {
    color: #ffffff;
    text-decoration: none;
}

.btn-sign-in {
    background-color: #e63946;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    transition: background-color 0.3s ease;
}

.btn-sign-in:hover {
    background-color: #d62828;
}

.card {
    background-color: #1f1f1f;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card-img-top {
    height: 300px;
    border-bottom: 1px solid #333333;
}

.card-body {
    padding: 20px;
    text-align: center;
}

.card-body .title {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
}

.card-body .genre {
    font-size: 14px;
    color: black;
    margin-bottom: 15px;
}

.rating {
    font-size: 14px;
    color: #F84464;
    margin: 10px 0;
    text-align: center;
}

.card button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

}

#btn-action {
    color: white;
    margin-left: 50px;
}
.btn1{
    background-color: rgba(0, 128, 0, 0.735);
}
.btn1:hover{
    background-color: green;
}
.btn2{
    background-color:rgba(255, 0, 0, 0.692);
}
.btn2:hover{
    background-color: red;
}



#card button:active {
    transform: translateY(2px);
}

#nav {
    background-color: #f8f9fa; 
    border-bottom: 2px solid #e9ecef;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#nav h6 {
    margin: 0;
    font-size: 14px; 
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
}

#nav a {
    color: #343a40; 
    font-weight: 500; 
    text-decoration: none; 
    padding: 5px 10px;
    border-radius: 4px; 
    transition: color 0.3s ease, background-color 0.3s ease;
}


#nav a:hover {
    color: #ffffff; 
    background-color: #007bff; 
    text-decoration: none;
    transform: translateY(-2px); 
}


#nav a.active {
    background-color: #0056b3; 
    color: #ffffff;
}
